// Common styles of the project
* {
	box-sizing: border-box;
}

html {
	font-size: 1.143vw;
    -webkit-font-smoothing: antialiased;

	@include below($mobile) {
		font-size: 100%;
	}
	@include between($mobile, $tablet) {
		font-size: 10px;
	}
	@include between($tablet, $desktop) {
		font-size: 11px;
	}
	@include above($desktop) {
		font-size: 14px;
	}

	//@media screen and (min-aspect-ratio: 16/8) {
		//font-size: 1.5vh;
	//}

}

html, body {
    line-height: 1;
    font-family: $Museo;
    font-weight: 300;
    color: #000;
	background: #f6f6f6;
}

body {
	font-size: rem(18);
    position: relative;
}

.oh {
    overflow: hidden !important;
}

.container {
	width: rem($container);
	margin: 0 auto;
    //position: relative;
	@include cf;

	@include below(1024px) {
		width: 100%;
		padding: 0 rem(10);
	}
}
.container-wide {
	width: rem(1172);
    transition: all 0.5s ease 0s;
	margin: 0 auto;
    //position: relative;
	@include cf;

	@include below(1111px) {
		//width: 100%;
		padding: 0 rem(10);
	}

	@include below($tablet) {
		width: 100%;
	}

	@include below($mobile) {
		margin: 0 auto;
		padding: 0;
	}
}

p {
	margin-top: 0;
}

hr {
	height: 3px;
	display: block;
	width: 100%;
	border: none;
	background: url('%=static=%general/hr.png') 0 0 repeat-x transparent;

	&.hr-white {
		background: url('%=static=%general/hr-white.png') 0 0 repeat-x transparent;
	}

	&.hr-purple {
		background: url('%=static=%general/hr-purple.png') 0 0 repeat-x transparent;
	}

	&.hr-green {
		background: url('%=static=%general/hr-green.png') 0 0 repeat-x transparent;
	}

	&.hr-blue {
		background: url('%=static=%general/hr-blue.png') 0 0 repeat-x transparent;
	}
    &.hr-grid {
        margin: rem(40) 0;
    }

}

.overflow-body {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
}

.mobile-visible {
	@include above($mobile) {
		display: none !important;
	}
}

.mobile-hide {
	@include below($mobile){
		display: none !important;
	}
}

.tablet-visible {
	@include above($tablet) {
		display: none !important;
	}
}

.tablet-hide {
	@include below($tablet){
		display: none !important;
	}
}

